[submodule "js/g.raphael"]
	path = js/g.raphael
	url = https://github.com/DmitryBaranovskiy/g.raphael.git
[submodule "js/raphael"]
	path = js/raphael
	url = https://github.com/DmitryBaranovskiy/raphael.git

